html
    head
        title page views
        link(rel='stylesheet', href='./css/bootstrap.min.css', type='text/css')
        script(src="./js/bootstrap.bundle.min.js")
    body
    dev(class="container")
        <h3 class= "text-center">views details</h1>
        table(class='table table-striped')
            thead
                tr
                    th Created_on
                    th Ipaddress
                    th Country_code
                    th UserInfo

            each item in items
                tr
                    td=item.Created_on
                    td=item.Ipaddress
                    td=item.Country_code
                    td=item.UserInfo
